<%= content_tag :div, class: '' do %>
  <%= content_tag :div, class: 'row' do %>
    <%= content_tag :div, class: 'span4' do %>
      <%= image_tag 'doghouse.png', class: 'taglineLogo'  %>
      <%= link_to content_tag(:i, ' View on GitHub', class: 'icon-github'), 'https://github.com/dubroe/twitter-doghouse', target: '_blank', class: "btn btn-large #{'center-button' if @current_user}" %>
      <% if @current_user %>
        <%= link_to content_tag(:i, ' Go to the app', class: 'icon-circle-arrow-right'), app_path, class: 'btn btn-large btn-primary' %>
      <% else %>
        <%= link_to content_tag(:i, ' Sign in with Twitter', class: 'icon-twitter'), "/auth/twitter", class: 'btn btn-large btn-primary' %>
      <% end %>
    <% end %>
    <%= content_tag :div, class: 'span8' do %>
      <%= content_tag :div, class: 'hero-unit' do %>
        <%= content_tag :h1, 'Twitter DogHouse' %>
        <p>Social networking with Twitter is great except when the people you follow pollute your feed with sponsored spam, political flamewars, and live-tweets of some show or event you don't care about. With this app you can <strong>unfollow</strong> them, and tell them they are being annoying and <strong>refollow them after a specified amount of time.</strong></p>
        <p><span>Watch</span> <span>Fork</span> <span>Follow DogHouse</span> <span>Tweets</span></p>
      <% end %>
    <% end %>
  <% end %>
  <%= content_tag :div, id: 'howdoeswork', class: 'row' do %>
    <%= content_tag :div, class: 'marketing-heading' do %>
      <%= content_tag :h1, 'How does it work' %>
      <%= content_tag :hr %>
    <% end %>
    <%= content_tag :div, class: 'span4' do %>
      <h3><i class="icon-hand-up icon-large"></i> Select the user</h3>
      <%= content_tag :p, 'Upon signing in with Twitter, you can search the people you follow and choose them.' %>
    <% end %>
    <%= content_tag :div, class: 'span4' do %>
      <h3><i class="icon-hand-down icon-large"></i> Add to DogHouse</h3>
      <%= content_tag :p, 'After selecting the user and time of punishment you can add him to the DogHouse.' %>
    <% end %>
    <%= content_tag :div, 'span4' do %>
      <h3><i class="icon-undo icon-large"></i> Automatically release from DogHouse</h3>
      <%= content_tag :p, 'The user will be automatically re-followed after the expiration of the time that you specify.' %>
    <% end %>
  <% end %>
  <%= content_tag :div, id: 'twittersyntax', class: 'row' do %>
    <%= content_tag :div, class: 'marketing-heading' do %>
      <%= content_tag :h1, 'Using DogHouse right within twitter' %>
      <%= content_tag :hr %>
    <% end %>
    <%= content_tag :div, class: 'span6 twitter-syntax' do %>
      <%= content_tag :h3, 'Twitter DogHouse syntax*' %>
      <%= content_tag :div, class: 'well' do %>
        <%= content_tag :p, '@TwitDoghouse <code>username</code> <code>timeframe</code> <code>tweet</code>'.html_safe %>
      <% end %>
      <p><code>username</code> = the person that you want to add to the DogHouse (without the @ symbol!)</p>
      <p>
        <code>timeframe</code> = for how long do you want to keep the person in the DogHouse
        <ul class="unstyled">
          <li><code>#m</code> number of minutes</li>
          <li><code>#h</code> number of hours</li>
          <li><code>#d</code> number of days</li>
        </ul>
      </p>
      <p><code>tweet</code> = optionat tweet message when adding a person to the DogHouse</p>
      <%= content_tag :span, '* This feature requires you to sign in to DogHouse at least once.', class: 'label pull-right' %>
    <% end %>
    <%= content_tag :div, class: 'span4' do %>
      <%= content_tag :h3, 'Example:' %>
      <%= content_tag :p, '@TwitDoghouse JureStern 5d because you are yapping too much.' %>
      <%= content_tag :h3, 'Result:' %>
      <%= content_tag :p, 'The user JureStern would be unfollowed for 5 days and twitted with a message "because you are yapping too much."' %>
    <% end %>
  <% end %>
<% end %>