%footer
  %hr/
  %p.pull-right= link_to('<i class="icon-circle-arrow-up"></i> Back to top'.html_safe, '#')
  %p Developed by #{link_to 'Elan Dubrofsky', 'http://www.linkedin.com/pub/elan-dubrofsky/30/243/394', target: '_blank'}, designed by #{link_to 'Jure Stern', 'http://jure-stern.si/en', target: '_blank'}, for #{link_to 'this CloudSpokes challenge', CLOUDSPOKES_CHALLENGE_LINK, target: '_blank'}
  %p.twitter-follow-button
    = link_to 'Follow @TwitDoghouse', 'https://twitter.com/TwitDoghouse', class: 'twitter-follow-button', data: {show_count: false}
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>